// РАЗРЕШЕНИЯ
$width-desktop-lg: 1920px;
$width-desktop: 1440px;
$width-desktop-small: 1280px;
$width-tablet-lg: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифт
$font: "Gotham Pro", sans-serif;

// ЦВЕТА
$white: #ffffff;
$black: #000000;
$shark: #1c1c1e;

// скорость анимации элементов
$transition: 0.3s ease;
